services:
  - type: web
    plan: free
    name: hotel-management-system
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "python -m gunicorn config.wsgi:application"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: mysitedb
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False

databases:
  - name: mysitedb
    plan: free
    databaseName: mysite
    user: mysite